In [1]:
import pandas as pd

In [4]:
import ipystata

In [6]:
%%stata

display "Hello, I am printed by Stata."

Hello, I am printed by Stata.

In [8]:
%%stata
use "P:\05. My Proposal\AHA Precision Med Postdoc\SPHHS\Data\HS combined 3-17-18"

In [11]:
%%stata
recode ORIGIN (1=0)(2/1000=1),gen(fborn)
lab var fborn "foreign-born or not"
lab def fborn 1"foreign-born" 0"US-born"
lab val fborn fborn
codebook fborn

(29840 differences between ORIGIN and fborn)

------------------------------------------------------------------------------------------------------------------------------------------------
fborn                                                                                                                        foreign-born or not
------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (double)
                 label:  fborn

                 range:  [0,1]                        units:  1
         unique values:  2                        missing .:  232/30,072

            tabulation:  Freq.   Numeric  Label
                        27,431         0  US-born
                         2,409         1  foreign-born
                           232         .

In [12]:
%%stata
recode RACEA2 (5/7=5),gen(race4)
lab var race4 "race in 4 categories"
lab def race4 1"NHW" 2"NHB" 3"Hispanic" 4"Asian" 5"other"
lab val race4 race4
codebook race4

(178 differences between RACEA2 and race4)

------------------------------------------------------------------------------------------------------------------------------------------------
race4                                                                                                                       race in 4 categories
------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (double)
                 label:  race4

                 range:  [1,5]                        units:  1
         unique values:  5                        missing .:  600/30,072

            tabulation:  Freq.   Numeric  Label
                        20,269         1  NHW
                         6,442         2  NHB
                         1,488         3  Hispanic
                           553         4  Asian
                           720         5  other
                           600         .

In [13]:
%%stata
codebook race4 if fborn==1

------------------------------------------------------------------------------------------------------------------------------------------------
race4                                                                                                                       race in 4 categories
------------------------------------------------------------------------------------------------------------------------------------------------

                  type:  numeric (double)
                 label:  race4

                 range:  [1,5]                        units:  1
         unique values:  5                        missing .:  51/2,409

            tabulation:  Freq.   Numeric  Label
                           796         1  NHW
                           391         2  NHB
                           688         3  Hispanic
                           421         4  Asian
                            62         5  other
                            51         .